.movie-title {
    font-size: 32px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
}

.movie-poster {
    width: 128px;
}

.movie {
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    top: 16px;
    bottom: 16px;
    left: 16px;
    right: 16px;
    border-radius: 16px;
    padding: 24px;
}

.movie::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 0%, transparent 30%, transparent 70%, rgba(0, 0, 0, .7) 100%);
    border-radius: inherit;
    display: block;
    content: "";
    z-index: -1;
}

.title-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(8px);
}
